:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-image: url("../../public/bg-light.png");
}

[data-theme="dark"] {
  --background-image: url("../../public/bg-dark.png");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-image: var(--background-image);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
