.container {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.icon {
  color: rgba(0, 0, 0, 0.5);
}

/* Dark theme */
[data-theme="dark"] .container {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

[data-theme="dark"] .icon {
  color: rgba(255, 255, 255, 0.4);
}
