.container {
  height: 60px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 15px;
}

.locationAndDateTimeContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.dateAndTime {
  font-size: 14px;
}

.actionButtonGroup {
  display: flex;
  gap: 10px;
}

/* mobile screen size */
@media only screen and (max-width: 540px) {
  .container {
    font-size: 14px;
  }

  .dateAndTime {
    font-size: 11px;
  }

  .locationAndDateTimeContainer {
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: start;
    gap: 2px;
  }
}
