.search {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 20px;
  background: rgba(108, 64, 181, 1);
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
}

/* mobile screen size */
@media only screen and (max-width: 450px) {
  .search {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

/* Dark theme */
[data-theme="dark"] .search {
  background: rgba(40, 18, 77, 1);
}
