.container {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

/* mobile screen size */
@media only screen and (max-width: 450px) {
  .container {
    font-size: 14px;
    gap: 6px;
    padding-bottom: 4px;
  }
}

/* Dark theme */
[data-theme="dark"] .container {
  color: #ffffff;
  font-weight: 300;
}
